/* Squat.css */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

#screen {
  margin: 40px;
  position: relative;
  width: 100%;
  max-width: 640px;
}

#video {
  border: 2px solid #007bff;
  border-radius: 20px;
  width: 100%;
  max-width: 640px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#showResult {
  margin-top: 20px;
  text-align: center;
}

#keypoints {
  font-size: 14px;
  margin-top: 10px;
}

#predict_result {
  font-size: 24px;
  font-weight: bold;
  color: #007bff; /* Blue color for prediction result */
  margin: 10px 0;
}

#exercise_count {
  font-size: 18px;
  margin-top: 20px;
}

#Buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#btn_start,
#btn_stop,
#btn_save {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

#btn_start:hover,
#btn_stop:hover,
#btn_save:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Add any other styling as needed */

.counter {
  display: flex;
  align-items: center;
  margin: 25px;
}

.input-wrapper {
  width: 6rem;
  height: 6rem;
  border-radius: 2rem;
  background-color: #3978ef;
  overflow: hidden;
  box-shadow: inset 0 0 0.8rem 0.1rem rgba(15, 72, 179, 0.2),
    0 20px 30px -10px rgba(15, 72, 179, 0.26);
}

.input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 2.3rem;
  outline: none;
  transition-property: transform, opacity;
  text-transform: linear;
  transition-duration: 0.25s;
}

.button {
  background: none;
  border: none;
  padding: 0.8rem;
  color: rgba(57, 120, 239, 0.35);
  font-size: 1.6rem;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.button:hover {
  color: #3978ef;
}
