/* Squat.css */
#container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}

#screen {
  z-index: 1;
  margin: 40px;
  position: relative;
  background-color: aliceblue;
  border-radius: 20px;
  margin-top: 20vh;
}

#video {
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

#showResult {
  margin-top: 20px;
  text-align: center;
}

#keypoints {
  font-size: 14px;
  margin-top: 10px;
}

#predict_result {
  font-size: 24px;
  font-weight: bold;
  color: #007bff; /* Blue color for prediction result */
  margin: 10px 0;
}

#exercise_count {
  font-size: 18px;
  margin-top: 20px;
}

#Buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#btn_start {
  background-color: #1586ff;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  margin-bottom: 10px;
  cursor: pointer;
}

#btn_start:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Add any other styling as needed */

.active {
  position: absolute;
  z-index: 2;
  left: auto;
  display: flex;
  align-items: center;
  margin: 25px;
  animation-name: scale;
  animation-duration: 1.05s;
  animation-iteration-count: 5;
  color: #fff;
  margin-top: 20vh;
}
@keyframes scale {
  from {
    scale: 5;
    opacity: 1;
  }
  to {
    scale: 20;
    opacity: 0;
  }
}

.button {
  background: none;
  border: none;
  padding: 0.8rem;
  color: rgba(57, 120, 239, 0.35);
  font-size: 1.6rem;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.button:hover {
  color: #3978ef;
}

.start_img {
  position: absolute;
  z-index: 2;
  left: auto;
  display: flex;
  align-items: center;
  margin: 25px;
  width: 20%;
  height: auto;
  opacity: 0.8;
}

.start_img:hover {
  width: 25%;
  height: auto;
}
